<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CompetentieLijstToevoegenServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.CompetentieLijstToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompetentieLijstToevoegenServlet</servlet-name>
		<url-pattern>/competentielijst-toevoegen</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeerlingToevoegenServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.LeerlingToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeerlingToevoegenServlet</servlet-name>
		<url-pattern>/leerling-toevoegen</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LeerlingWijzigenServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.LeerlingWijzigenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeerlingWijzigenServlet</servlet-name>
		<url-pattern>/leerling-wijzigen</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DocentToevoegenServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.DocentToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocentToevoegenServlet</servlet-name>
		<url-pattern>/docent-toevoegen</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DocentWijzigenServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.DocentWijzigenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocentWijzigenServlet</servlet-name>
		<url-pattern>/docent-wijzigen</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StageBedrijfToevoegenServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.StageBedrijfToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StageBedrijfToevoegenServlet</servlet-name>
		<url-pattern>/stagebedrijf-toevoegen</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StageBedrijfWijzigenServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.StageBedrijfWijzigenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StageBedrijfWijzigenServlet</servlet-name>
		<url-pattern>/stagebedrijf-wijzigen</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>StageToevoegenServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.StageToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StageToevoegenServlet</servlet-name>
		<url-pattern>/stage-toevoegen</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GebruikerVerwijderenServlet</servlet-name>
		<servlet-class>com.appspot.AccentNijkerk.controller.GebruikerVerwijderenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GebruikerVerwijderenServlet</servlet-name>
		<url-pattern>/deleteUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>WachtwoordWijzigenServlet</servlet-name>
	<servlet-class>com.appspot.AccentNijkerk.controller.WachtwoordWijzigenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WachtwoordWijzigenServlet</servlet-name>
		<url-pattern>/wachtwoord-wijzigen</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
   		<servlet-name>LeerlingBezichtigenJSP</servlet-name>
    	<jsp-file>/leerling-bezichtigen.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>LeerlingBezichtigenJSP</servlet-name>
   		<url-pattern>/leerling-bezichtigen</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>LeerlingAanpassenJSP</servlet-name>
    	<jsp-file>/leerling-aanpassen.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>LeerlingAanpassenJSP</servlet-name>
   		<url-pattern>/leerling-aanpassen</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>DocentBezichtigenJSP</servlet-name>
    	<jsp-file>/docent-bezichtigen.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>DocentBezichtigenJSP</servlet-name>
   		<url-pattern>/docent-bezichtigen</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>DocentAanpassenJSP</servlet-name>
    	<jsp-file>/docent-aanpassen.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>DocentAanpassenJSP</servlet-name>
   		<url-pattern>/docent-aanpassen</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>StageBedrijfBezichtigenJSP</servlet-name>
    	<jsp-file>/stagebedrijf-bezichtigen.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>StageBedrijfBezichtigenJSP</servlet-name>
   		<url-pattern>/stagebedrijf-bezichtigen</url-pattern>
	</servlet-mapping>	
	
	<servlet>
   		<servlet-name>StageBedrijfAanpassenJSP</servlet-name>
    	<jsp-file>/stagebedrijf-aanpassen.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>StageBedrijfAanpassenJSP</servlet-name>
   		<url-pattern>/stagebedrijf-aanpassen</url-pattern>
	</servlet-mapping>
	
	
	<listener> 
		<listener-class>com.appspot.AccentNijkerk.listeners.ContextListener</listener-class>
	</listener>
	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>